<template name="home">
    
        <h1>Name of Ride: Wild Thing</h1>
        <hr>
        <p>Description: A roller coaster with more than 1 mile of track</p>
        <p>Ride Opened in 1996</p>
        <p>Duration of ride: 2:48 minutes</p>
    
<hr>

    <h1>Name of Ride: High Roller</h1>
    <hr>
    <p>Description: A wooden roller coaster that is the oldest roller coaster at Valley Fair</p>
    <p>Ride Opened in 1976</p>
    <p>Duration of ride: 1:45 minutes</p>

<hr>

    <h1>Name of Ride: Mad Mouse</h1>
    <hr>
    <p>Description: 1257 feet of track, 30 mph and 50 ft. high</p>
    <p>Ride Opened in 1999</p>
    <p>Duration of ride: 21:30 minutes</p>

<hr>
<button>Get Ticket Price</button>
</template>